/* --- MAIN SETTINGS --- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

h1 {
    font-size: 3.25em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    font-size: 2.3em;
    font-weight: 700;
}

p {
    font-size: 1em;
    font-weight: 300;
}

small {
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
}

/* --- BUTTONS --- */

.main-btn {
    margin: 0.5em;
    padding: 0.8em 2em;
    border: solid 1px white;
    border-radius: 50px;
    color: black;
    font-weight: 500;
    font-size: 1em;
    background-color: white;
}

.main-btn:hover {
    transition: 0.3s;
    background-color: #d6d6d6;
}

.second-btn {
    margin: 0.5em;
    padding: 0.8em 2em;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0);
}



/* --- HERO --- */

.main-hero {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50dvh 50dvh;
}

.hero-1 {
    display: flex;
    grid-row: 1 / 3;
    background-color: rgb(43, 59, 54);
    color: white;
}

.hero-2 {
    display: flex;
    background-color: rgb(48, 35, 59);
    color: white;
}

.hero-3 {
    display: flex;
    background-color: rgb(30, 33, 27);
    color: white;
}

.align-text {
    align-items: start;
    justify-content: end;
    flex-direction: column;
    padding: 2em;
    gap: 10px;
}
